node_modules
web/vendor
web/bundle
/pages
/www/build.*
www/gorilla-demo.js
www/ipython-demo.js
/www/vendor.js
/www/vendor/
/www/examples/
www/baked.js
/www/tutorial
/site
/www/baked-vendor.js
/.ipynb_checkpoints
/test/build
/app/components/fix
/screenshot.png
electron/secrets.js
www/electron.js
src/secrets.js
