@charset "utf-8";﻿@charset "utf-8";
.TreeItem_head{display:flex;position:relative}.TreeItem_body{flex:1}.treed_body{flex:1}.TreeItem_children{margin-left:20px}.textarea-grow{position:relative}.textarea-grow textarea{width:100%;height:0;border:0;padding:0;resize:none;font-size:1em;overflow:hidden;font-family:sans-serif}.textarea-grow .shadow{white-space:pre-wrap;position:absolute;font-family:sans-serif;width:100%;top:0;left:0;visibility:hidden}.treed_body_rendered,.textarea-grow textarea,.textarea-grow .shadow{font-family:sans-serif;font-size:14px}.textarea-grow textarea{outline:none}.n_Collapse>.TreeItem_children{display:none}.list>.n_Collapse>.TreeItem_children{display:block}.m_Collapser{cursor:pointer}.m_Collapser:after{content:'+'}.m_Collapser-collapsed:after{content:'-'}.Breadcrumb{padding:0;margin:0;flex:1}.Breadcrumb_item{display:inline-block;list-style:none;padding:5px 15px;position:relative;cursor:pointer;border-radius:10px;font-family:bold}.Breadcrumb_item:hover{background-color:#eee}.Breadcrumb_item:not(:last-child)::after{z-index:1;top:4px;right:-4px;content:'\00BB';position:absolute}.m_RebaseDot{cursor:pointer}.m_Todo{width:15px;height:15px;border:1px solid #ccc;margin:10px 10px 0;cursor:pointer;border-radius:5px}.m_Todo-done:after{content:'✓';position:relative;top:-16px;left:0;font-size:25px;font-weight:bold;color:#555}.n_Done>.TreeItem_head .treed_body_rendered{color:#555}.TreeItem-type-todo>.TreeItem_head .TreeItem_body{display:flex}.TreeItem-type-todo>.TreeItem_head .TreeItem_body .treed_body{flex:1}.TreeItem-type-list>.TreeItem_head .TreeItem_body{display:flex}.TreeItem-type-list>.TreeItem_head .TreeItem_body:before{content:'\25cf';padding:4px 15px}.TreeItem-type-list>.TreeItem_head .TreeItem_body .treed_body{flex:1}.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body{display:flex}.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'1';padding:4px 15px}.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body .treed_body{flex:1}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'2'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'3'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'4'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'5'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'6'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'7'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'8'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'9'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'10'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'11'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'12'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'13'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'14'}.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list+.TreeItem-type-ordered_list>.TreeItem_head .TreeItem_body:before{content:'15'}.TreeItem-ijs-dirty{background-color:#fee}.m_RebaseDot{background-color:transparent;width:auto;height:auto;float:none}.m_RebaseDot::before{content:"\2022";cursor:pointer}.m_RebaseDot:hover{background-color:#aaa;border-radius:10px;line-height:10px;margin-top:4px}.m_RebaseDot{position:absolute;padding:3px;left:24px;font-size:25px;line-height:18px;overflow:hidden}.n_Collapse>.TreeItem_head .m_RebaseDot{font-size:40px;line-height:14px;margin-top:2px;left:22px;overflow:hidden;color:#777}.m_Collapser{position:relative;display:none;cursor:pointer;width:0;height:0}.TreeItem-parent>.TreeItem_head:hover .m_Collapser{display:block}.m_Collapser:after{content:"-";position:absolute;top:-1px;font-weight:bold;font-family:monospace;cursor:pointer;font-size:20px;left:0;width:20px}.m_Collapser-collapsed:after{content:"+"}.TreeItem-root>.TreeItem_head .m_RebaseDot,.TreeItem-root>.TreeItem_head .m_Collapser,.TreeItem-root>.TreeItem_head .m_Collapser:after{display:none}.TreeItem-root>.TreeItem_head .treed_body{font-size:30px;padding-left:5px;margin-left:40px}.TreeItem-root>.TreeItem_head .treed_body .treed_body_rendered,.TreeItem-root>.TreeItem_head .treed_body textarea,.TreeItem-root>.TreeItem_head .treed_body .shadow{padding-left:10px;font-size:30px;border-radius:10px}.treed_body{margin-left:20px;padding-left:20px;border-radius:10px}.TreeItem_head:hover .treed_body{background-color:#ccc}.TreeItem-selected>.TreeItem_head .treed_body{background-color:#cff6ff}.TreeItem-active>.TreeItem_head .treed_body{background-color:#afc}.TreeItem-selected>.TreeItem_children{background-color:#e0f9ff;border-radius:10px}.m_Done>.TreeItem_head{text-decoration:line-through;color:#777}.treed_body_rendered,.textarea-grow textarea,.textarea-grow .shadow{border:none;margin:0;display:block;font-size:16px;min-height:24px;padding:3px 7px;font-family:sans-serif;border-radius:10px;box-sizing:border-box;background-color:transparent}.treed_body_rendered>*:first-child{margin-top:0}.treed_body_rendered>*:last-child{margin-bottom:0}.n_Collapse>.TreeItem_children{display:block}.ObjViewer{font-family:monospace}.ObjViewer_head{cursor:pointer}.ObjViewer_name{font-weight:bold;color:#003381;text-shadow:1px 1px 2px #2b5da9}.ObjViewer_smallprops{font-size:80%}.ObjViewer_prop:hover>td{background-color:rgba(0,0,0,0.1)}.ObjViewer_props{border-collapse:collapse;cursor:default}.ObjViewer_props td{vertical-align:top}.Playground{display:flex}.Playground_error{position:absolute;bottom:0;right:0;font-size:10px;padding:3px 7px;background:#faa}.Playground_error:empty{display:none}.Playground_collapse{position:absolute;top:0;left:0;cursor:pointer;padding:3px 6px 3px;font-size:14px;font-family:monospace;font-weight:bold;background-color:rgba(255,255,255,0);color:#555;z-index:100;border-radius:5px;transition:background-color .3s ease}.Playground_collapse:hover{background-color:#aaa}.Playground_collapse::after{content:'-'}.Playground-collapsed .Playground_collapse::after{content:'+'}.Playground_code{flex:1;display:flex;flex-direction:column;font-size:12px}.Playground_code>.CodeMirrorRx{display:flex;position:relative}.Playground_code>.CodeMirrorRx:after{content:'less';z-index:0;pointer-events:none;background-color:transparent;padding:3px 9px 2px;border-radius:6px;font-family:monospace;font-size:10px;color:black;text-shadow:1px 1px 2px #555;opacity:.7;position:absolute;right:0}.Playground_code>.CodeMirrorRx:first-of-type:after{content:'jsx'}.Playground_code>.CodeMirrorRx>.CodeMirror{flex:1}.Playground_out{flex:1;display:flex;flex-direction:column}.Playground_out iframe{flex:1;border:1px solid #ccc}@keyframes spin{to{transform:rotate(1turn)}}@-webkit-keyframes spin{to{transform:rotate(1turn)}}.m_IPython_loading{position:relative;display:inline-block;width:5em;height:5em;margin:0 .5em;font-size:12px;text-indent:999em;overflow:hidden;animation:spin 1s infinite steps(8);-webkit-animation:spin 1s infinite steps(8)}.m_IPython_loading:before,.m_IPython_loading:after,.m_IPython_loading>div:before,.m_IPython_loading>div:after{content:'';position:absolute;top:0;left:2.25em;width:.5em;height:1.5em;border-radius:.2em;background:#eee;box-shadow:0 3.5em #eee;transform-origin:50% 2.5em}.m_IPython_loading:before{background:#555}.m_IPython_loading:after{transform:rotate(-45deg);background:#777}.m_IPython_loading>div:before{transform:rotate(-90deg);background:#999}.m_IPython_loading>div:after{transform:rotate(-135deg);background:#bbb}.TreeItem-type-ipython>.TreeItem_head .CodeMirror-gutters{background-color:transparent}.m_IPython_js_frame{visibility:hidden;border:1px solid #ccc;width:300px;height:200px;position:fixed;bottom:5px;right:5px;background-color:white;z-index:1000}.m_IPython_js_frame.show{visibility:visible}.m_IPython{position:relative;margin:5px 0 10px 50px;min-height:20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif}.m_IPython-hiding{height:0;border:5px solid #ccc;overflow:hidden;padding:0;min-height:0}.m_IPython pre{margin:0;word-break:break-all;word-wrap:break-word;white-space:pre-wrap}.list{position:relative}.m_IPythonKernel{text-align:right;font-family:monospace}.m_IPythonKernel button{cursor:pointer}.m_IPythonKernel-disconnected{color:orange;border-color:#838383}.m_IPythonKernel-error{color:#b00;background-color:#fee;border-color:#ff8383}.m_IPythonKernel_error{position:fixed;top:10px;left:50%;margin-left:-100px;width:200px;background-color:lightpink;border:1px solid #a55;border-radius:5px;padding:5px 10px;text-align:center}.m_IPythonKernel_indicator{padding:5px 10px;cursor:pointer}.m_IPythonKernel_indicator_interrupt{cursor:pointer;font-weight:bold;display:inline-block;padding:0 5px;margin-right:-10px;margin-left:10px}.m_IPythonKernel_indicator_interrupt:hover{color:red}.m_IPythonKernel_indicator_icon{font-weight:bold;margin-left:10px}.m_IPythonKernel_indicator_icon:after{content:'⬤'}.m_IPythonKernel_indicator_icon-error{color:red}.m_IPythonKernel_indicator_icon-done{color:green}.m_IPythonKernel_indicator_icon-running{color:orange}.m_IPythonKernel_changer{padding:0 5px 1px}.m_IPythonKernel_changer input{padding:5px}.m_IPythonKernel_changer_btn{padding:5px 10px;opacity:.5;cursor:pointer;margin-left:5px}.m_IPythonKernel_changer_btn:hover{opacity:1;outline:1px solid #ccc}.m_IPython_outputs{position:relative}.m_IPython_popout-button{position:absolute;top:8px;right:5px;opacity:0;transition:opacity .3s ease;cursor:pointer}.m_IPython_outputs:hover .m_IPython_popout-button{opacity:1}.m_IPython_popout-body{margin:10px;max-width:none;padding:0}.m_IPython_popout-wrapper{margin:0}.m_IPython_popped-message{font-style:italic;cursor:pointer;padding:10px 20px;text-align:center}.m_IPython_output:only-child{display:block}.m_IPython_output_ansi{white-space:pre-wrap;max-height:300px;overflow:auto}.m_IPython_output-error{white-space:pre-wrap}.Isolate{border:1px solid #ccc}.m_IPython_stream{white-space:pre-wrap}.m_IPython_loading{font-size:4px;position:absolute;right:3px;top:0}.m_IPython_time{position:absolute;right:3px;top:0;text-align:right;font-family:monospace;font-size:12px;opacity:1;transition:opacity .2s ease;background-color:rgba(181,255,181,0.9);padding:2px 5px;border-radius:5px}.m_IPython_time-stale{background-color:rgba(255,150,150,0.9)}.TreeItem-editing>.TreeItem_head>.TreeItem_body .m_IPython_time{opacity:0}.m_IPython_time-loading{right:35px;top:2px;opacity:1}.m_IPython_time-loading:hover{opacity:.2}.KernelPicker{position:relative}.KernelPicker_label{padding:5px 10px;cursor:pointer}.KernelPicker_close{cursor:pointer;display:inline-block;padding:5px 5px}.KernelPicker_list{position:absolute;right:0;top:100%;background-color:white;z-index:100;padding:0;margin:0;list-style:none;box-shadow:0 1px 3px #aaa}.KernelPicker_item{padding:8px 15px;cursor:pointer}.KernelPicker_item:hover{background-color:#f0f0f0}/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
}
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.CodeMirror.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
div.CodeMirror-overwrite div.CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  padding-bottom: 30px;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.CodeMirror-measure pre { position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 19em;
  overflow: hidden;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}
.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
#main{flex:1;display:flex}.CodeMirror{background:transparent;height:auto}.CodeMirror-scroll{overflow-y:hidden;overflow-x:auto}/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #408080;
  font-style: italic;
}

.hljs-keyword,
.assignment,
.hljs-literal,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  color: #954121;
}

.hljs-number,
.hljs-hexcolor {
  color: #40a070;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #219161;
}

.hljs-title,
.hljs-id {
  color: #19469d;
}
.hljs-params {
  color: #00f;
}

.javascript .hljs-title,
.lisp .hljs-title,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.haskell .hljs-label,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.instancevar,
.lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #b68;
}

.hljs-class {
  color: #458;
  font-weight: bold;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-keyword,
.ruby .hljs-symbol .keymethods,
.lisp .hljs-keyword,
.tex .hljs-special,
.input_number {
  color: #990073;
}

.builtin,
.constructor,
.hljs-built_in,
.lisp .hljs-title {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

.tex .hljs-formula {
  opacity: 0.5;
}
h1{font-family:sans-serif}.TreeItem_children{border-left:5px solid #eee}.TreeItem-root>.TreeItem_children{border-left:none}.TreeItem_nochildren{padding:10px 50px;text-align:center;color:#555}.treed_body_rendered,.textarea-grow textarea,.textarea-grow .shadow{min-height:34px;background-color:rgba(255,255,255,0.7);padding-top:5px}.treed_body_rendered h1,.treed_body_rendered h2,.treed_body_rendered h3,.treed_body_rendered h4{font-weight:normal}.treed_body{margin-bottom:5px}.treed_body-type-ipython{margin-bottom:5px;word-wrap:break-word}.treed_body-type-ipython>*{margin:0 0 0 5px;background-color:#dfe;font-family:monospace;font-size:14px}.treed_body-type-ipython>.treed_body_rendered{padding:5px 10px}.treed_body-type-ipython>.textarea-grow{padding:2px 3px}.treed_body-type-ipython>.textarea-grow textarea,.treed_body-type-ipython>.textarea-grow .shadow{min-height:24px;font-family:monospace;font-size:14px;padding-top:3px}.m_IPython-empty{min-height:0}.m_IPythonKernel{top:-5px;right:-5px}.m_IPythonKernel button{padding:3px 7px;border-radius:3px;border:0;background-color:white;border:1px solid #ccc;margin-top:10px;transition:background-color .2s ease}.m_IPythonKernel button:hover{background-color:#eee}.treed_body_rendered,.textarea-grow textarea,.textarea-grow .shadow{background-color:transparent}.treed_body_rendered p>code{background-color:#f0f0f0;padding:2px 5px;border-radius:5px}.treed_body-type-ipython{margin-bottom:0}.treed_body-type-ipython>*{margin:0 0 0 5px;background-color:transparent}.treed_body-type-ipython>.treed_body_rendered{padding:5px 0}.treed_body-type-ipython>.textarea-grow{padding:2px 0}.treed_body-type-ipython>.textarea-grow textarea,.treed_body-type-ipython>.textarea-grow .shadow{padding-left:0}.TreeItem_head:hover .treed_body{background-color:transparent}.TreeItem-active>.TreeItem_head .treed_body{background-color:transparent}.TreeItem_head{padding-bottom:5px;position:relative;cursor:pointer}.TreeItem_head:hover>.TreeItem_body{background-color:#eee}.m_Collapser{bottom:5px}.TreeItem_body{border:1px solid transparent;position:relative;margin-bottom:0}.m_Collapser{display:block;opacity:0;background-color:#ddd;height:auto;width:10px;margin-right:5px}.m_Collapser:after{content:" ";width:5px;height:100%;background-color:white;position:absolute;left:100%;top:0}.TreeItem-parent:not(.TreeItem-root)>.TreeItem_head:hover>.m_Collapser{opacity:1}.TreeItem-parent:not(.TreeItem-root)>.TreeItem_head>.m_Collapser-collapsed{opacity:1}.m_IPython{position:static;margin:5px}.m_IPython_outputs{max-height:800px;overflow:auto}.m_IPython_output{background-color:white;padding:10px;border:1px solid #ccc;margin-top:5px;display:inline-block;overflow:auto}.m_IPython_output-text-json,.m_IPython_output-text-plain{display:block}.m_IPython_output_plain{font-family:'monospace';white-space:pre}.m_IPython_output-error{border-color:red;color:red}.m_IPython_output-list-like table{border-collapse:collapse}.m_IPython_output-list-like td{border:1px solid #999}.m_IPython_output-list-like div.vega{display:inline-block;vertical-align:middle}.m_IPython_loading{display:none}.m_IPython_time{top:4px;background-color:transparent;color:#009f09;opacity:1}.m_IPython_time-loading{right:3px}.m_IPython_time-stale{color:#ff0a0a}.TreeItem_body:hover .m_IPython_time{opacity:1}.TreeItem-type-todo>.TreeItem_children,.TreeItem-type-ordered_list>.TreeItem_children,.TreeItem-type-list>.TreeItem_children{padding-left:34px}.TreeItem-type-ipython>.TreeItem_head>.TreeItem_body{border:1px solid #ccc;background-color:white}.TreeItem-active>.TreeItem_head>.TreeItem_body{outline:5px solid #ccc}.TreeView-active .TreeItem-active>.TreeItem_head>.TreeItem_body{outline:5px solid magenta}.TreeItem-ipython-collapsed>.TreeItem_head>.TreeItem_body{max-height:100px;overflow:hidden;border-bottom:10px solid #bbb}.m_IPython-hiding{border:none}.TreeItem-ipython-dirty>.TreeItem_head>.TreeItem_body{background-color:#ffe4fd}.TreeItem-ipython-running>.TreeItem_head>.TreeItem_body{background-color:#d2ffd2}.TreeItem-ipython-stale>.TreeItem_head>.TreeItem_body{background-color:#ffe4e4}.treed_body_rendered code{background-color:#c4f7d2;padding:5px}.TreeItem-ipython>.TreeItem_head>.TreeItem_body{background-color:#cbffc6}.TreeItem-ipython-waiting>.TreeItem_head>.TreeItem_body{background-color:#fff690}.TreeView-active .TreeItem-editing>.TreeItem_head>.TreeItem_body{outline:5px solid #00b800;background-color:white}.TreeView-active .TreeItem-selected>.TreeItem_head>.TreeItem_body{background-color:#d5fffc;outline-color:cyan}.TreeItem-selected>.TreeItem_head .treed_body{background-color:transparent}.TreeItem-selected>.TreeItem_children{background-color:transparent;border-radius:0}.TreeItem-root:not(.TreeItem-type-ipython):not(.TreeItem-type-code-playground)>.TreeItem_head .treed_body{margin-left:20px;padding-left:0;font-weight:bold}.treed_body{padding-left:0;margin-left:0;margin-bottom:0}.TreeItem_children{border-left:5px solid #aaa;padding-left:20px;margin-left:0}.m_Collapser{position:absolute;top:0;bottom:5px;left:-15px}.m_RebaseDot{top:0;left:-15px;width:4px;height:5px;z-index:1;opacity:0;background-color:#bbb}.m_RebaseDot:hover{background-color:#aaa;border-radius:0;line-height:1;margin-top:0}.m_RebaseDot::before{content:" "}.TreeItem-parent>.TreeItem_head:hover .m_RebaseDot{opacity:1}.TreeItem-parent.n_Collapse>.TreeItem_head .m_RebaseDot{opacity:1}.TreeItem-parent.n_Collapse>.TreeItem_head .m_RebaseDot{margin-top:0;left:-15px}.pdf_item .m_IPython_time{display:none}.pdf_item .TreeItem-ipython-stale>.TreeItem_head>.TreeItem_body{background-color:white}.pdf_item .TreeItem_children{margin:0;padding:0;border-left:0}.pdf_item .m_IPython-hiding{height:auto}.pdf_item .TreeItem-ipython-collapsed>.TreeItem_head>.TreeItem_body{border-bottom:1px solid #ccc;max-height:none}.pdf_export .TreeItem-parent>.TreeItem_head .treed_body_rendered{font-size:30px;font-weight:bold}.pdf_export .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered{font-size:26px}.pdf_export .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered:before{content:'>';float:left;padding-right:10px}.pdf_export .TreeItem-parent .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered{font-size:22px}.pdf_export .TreeItem-parent .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered:before{content:'>>'}.pdf_export .TreeItem-parent .TreeItem-parent .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered{font-size:18px}.pdf_export .TreeItem-parent .TreeItem-parent .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered:before{content:'>>>'}.pdf_export .TreeItem-parent .TreeItem-parent .TreeItem-parent .TreeItem-parent .TreeItem-parent>.TreeItem_head .treed_body_rendered:before{content:'>>>>'}.Tabular{position:relative}.Tabular_empty td{text-align:center;padding:40px;font-size:30px;font-weight:bold;color:#888;font-style:italic}.Tabular th{text-align:left;padding:5px 20px;color:#aaa}.Tabular_header{width:100%;background-color:white;position:absolute;top:0;left:0;right:0;box-shadow:0 2px 2px #aaa;z-index:100}.Tabular_sort{position:relative}.Tabular_sort:before{content:'\25be';position:absolute;left:7px;pointer-events:none;top:6px;font-size:13px}.Tabular_sort-rev:before{content:'\25b4'}.Tabular_container{overflow:auto;position:absolute;top:0;bottom:0;left:0;right:0}.Tabular_table{width:100%;border-collapse:collapse}.Tabular_table tr.selected td{background-color:#ddd}.Tabular_table tr:hover td{background-color:#efefff}.Tabular_table th{padding-bottom:15px}.Tabular_table td{cursor:pointer;padding:10px 20px}.BrowsePage{max-width:600px;margin:25px auto 50px;padding:20px 0 0;width:600px;font-family:sans-serif;flex-direction:column;display:flex;flex:1;box-shadow:0 0 20px #999}.BrowsePage .Tabular{flex:1}.Browse{display:flex}.Browse_new_btn,.Importer-closed,.NewFile-closed{padding:10px;text-align:center;font-size:20px;font-weight:bold;cursor:pointer;border:1px solid white;transition:border-color .2s ease,color .2s ease;flex:1;margin-bottom:10px;margin:0 20px 5px;color:#aaa;border-color:#eee}.Browse_new_btn:hover,.Importer-closed:hover,.NewFile-closed:hover{border-color:#777;color:black}.Browse_new_cancel,.Importer_cancel,.NewFile_cancel{position:absolute;top:0;right:20px;font-size:16px;background-color:white;border:1px solid #ccc;padding:5px 10px;cursor:pointer;color:#aaa;transition:color .2s ease,border-color .2s ease}.Browse_new_cancel:hover,.Importer_cancel:hover,.NewFile_cancel:hover{border-color:black;color:black}.BrowseHeader_opener{display:flex;flex-direction:row}.BrowseHeader_opener-open{display:block}.Browse-loading{text-align:center;font-size:50px;font-weight:bold;color:white;text-shadow:0 0 15px #888;margin:200px auto;box-shadow:none}.Browse_title{margin:2px 45px 0;text-align:center;color:#4d4d4d}.NewFile_head,.Browse_head{text-align:center;margin-top:0}.Browse_files{padding:0;margin:20px 0 0;list-style:none;overflow:auto;flex:1}.Browse_file{padding:5px 10px;cursor:pointer;font-size:16px}.Browse_file:hover{background-color:#eee}.Browse_nofiles{padding:5px 10px;cursor:pointer;font-size:16px;color:#999}.Browse_source{float:right}.Browse_repl{float:right}.Browse_repl-null{display:none}.Browse_config_repls,.NewFile_repls{padding:0;margin:10px 0;list-style:none}.Browse_config_repl,.NewFile_repl{padding:5px 10px;border:1px solid transparent;display:inline-block;cursor:pointer}.Browse_config_repl-selected,.NewFile_repl-selected{border-color:#aaa}.Browse_config_repl:hover,.NewFile_repl:hover{background-color:#eee}.Modal{z-index:10011;position:absolute;top:50%;left:50%;width:300px;height:200px;margin:-100px 0 0 -150px;border:1px solid #eee;box-shadow:0 0 10px black;padding:10px;background:white}.Browse_menu{position:absolute;cursor:pointer;background-color:#fff;list-style:none;margin:0;padding:0;box-shadow:0 0 5px black}.Browse_menu_item{padding:7px 13px}.Browse_menu_item:hover{background-color:#eee}@font-face{font-family:'Monda';font-style:normal;font-weight:400;src:local('Monda Regular'),local('Monda-Regular'),url(vendor/Monda-Regular.ttf)}@font-face{font-family:'Monda';font-style:bold;font-weight:700;src:local('Monda Bold'),local('Monda-Bold'),url(vendor/Monda-Bold.ttf)}body{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;flex-direction:column}.Page,.DocPage,.BrowsePage,.GistPage{flex:1}.sandbox>div>.Splitter{height:300px}.DocPage,.GistPage{display:flex;flex-direction:column}.DocPage-loading,.GistPage-loading{text-align:center;font-size:50px;font-weight:bold;font-style:italic;font-family:sans-serif;text-shadow:0 0 10px black;color:white;padding:30px}.GistPage-form{padding:50px}.GistPage_error{font-family:Monda,sans-serif;text-align:center;color:#d80000}.GistPage_error h3{margin-bottom:10px}.DocViewer{flex:1;display:flex;padding:0;justify-content:center}.BrowsePage{flex-direction:column;display:flex}.Browse{flex:1}.App_pane_top{display:flex;justify-content:flex-end;align-items:center;background-color:white;box-shadow:5px 3px 5px #ccc;padding:0 15px;z-index:10}.App_pane_scroll{flex:1;overflow-y:auto;overflow-x:hidden;padding:20px 50px 150px;position:relative;background-color:white}.App_pane{flex:1;display:flex;flex-direction:column}.App_pane_splitters button{background:white;border-radius:3px;cursor:pointer;padding:2px 6px;transition:background-color .3s ease;border:1px solid #ccc;margin-left:3px}.App_pane_splitters button:hover{background-color:#eee}.App_pane:first-child .App_pane_scroll{padding-left:50px}.App_pane:last-child .App_pane_scroll{padding-right:50px}.App_pane-focus{max-width:none}.App_pane-focus .App_pane_scroll{flex:1;display:flex;overflow:visible;padding:10px}.App_pane-focus .App_pane_scroll .flex-panes{width:100%;display:flex}.App_pane-focus .App_pane_scroll .flex-main{flex:1;display:flex}.App_pane-focus .App_pane_scroll .flex-bar{background-color:#888;min-width:10px;min-height:10px;display:flex;cursor:ns-resize}.App_pane-focus .App_pane_scroll .flex-switch{display:block;width:10px;height:10px;background-color:#333;cursor:ew-resize}.App_pane-focus .App_pane_scroll .flex-panes-vert .flex-bar{cursor:ew-resize}.App_pane-focus .App_pane_scroll .flex-panes-vert .flex-switch{cursor:ns-resize}.App_pane-focus .App_pane_scroll .focus{display:flex;flex:1}.App_pane-focus .App_pane_scroll .focus_item_body{overflow:auto;flex:1}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}.m_icon,.Dupload_upload,.Dupload_download{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);color:#666;transition:color .2s ease;cursor:pointer;margin-right:5px}.m_icon:hover,.Dupload_upload:hover,.Dupload_download:hover{color:black}.Uploader_file{margin:20px 0 10px}.Uploader_input{margin:20px;font-size:16px}.Uploader_clear,.Uploader_submit{border:1px solid #999;background-color:white;padding:3px 7px;font-weight:bold;cursor:pointer;border-radius:5px}.Uploader_clear:hover,.Uploader_submit:hover{background-color:#eee}.Uploader_clear{margin-left:15px}.Uploader_submit{padding:7px 60px;border-radius:5px;font-size:20px;color:#555}.Dupload_upload:before{content:"\f093"}.Dupload_download:before{content:"\f019"}.Dropload{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;text-align:center;background-color:#23ff30;opacity:.7;font-size:30px;font-weight:bold;padding:100px 0}.Dupload{padding:5px;font-family:sans-serif}.Download_what{margin:20px 0}.Download_name{width:250px;padding:5px 0 5px 5px;text-align:right;margin:20px 5px 0 15px;font-size:16px;font-weight:bold}.Download_ext{color:#777}.Download_link{cursor:pointer;border:1px solid #ccc;border-radius:10px;padding:5px 20px;margin:20px 0;display:inline-block;color:black;text-decoration:none;box-shadow:0 0 4px #aaa}.Download_which{border:1px solid white;padding:5px 10px;background-color:white;cursor:pointer;margin-left:10px;margin-bottom:10px;color:#888}.Download_which+.Download_which{margin-left:5px}.Download_which:hover{background-color:#efefef}.Download_which-selected{border-color:#ddd;font-weight:bold;color:black}.FormatPicker{list-style:none;margin:0;padding:0;text-align:center}.FormatPicker_item{padding:10px;margin-right:10px;margin-top:10px;border:1px solid #ccc;display:inline-block;cursor:pointer}.FormatPicker_item-selected{border-color:#555;background-color:#eee}.Modal_back{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,0.7);cursor:pointer;z-index:10000}.Modal_popup{position:fixed;top:50%;left:50%;background-color:white;border:1px solid #555;width:600px;margin-left:-300px;margin-top:-200px;z-index:10000}.Modal_close{position:absolute;top:0;right:0;padding:5px 12px;cursor:pointer;color:#aaa;font-size:22px;font-family:sans-serif;font-weight:bold}.Modal_close:hover{color:#c55}.Modal_title{text-align:center;padding:10px;font-size:20px}.Modal_body{padding:10px}.Modal-upload .Modal_popup{padding-bottom:20px}.Modal-upload .Modal_body{text-align:center}.Modal-download .Modal_body{text-align:center}.DocHeader{display:flex;justify-content:center;padding:10px;position:relative}.DocHeader_name{font-size:17px;font-weight:bold;position:absolute;left:10px;top:5px;text-transform:lowercase;font-family:sans-serif}.DocHeader_name,.DocHeader_name a{color:#ccc;text-decoration:none}.DocHeader_name a{padding-right:10px}.DocHeader_title{display:inline-block;padding:5px}.DocHeader_editTitle{display:inline-block;padding:3px 5px}.DocHeader_home{background-color:white;border:1px solid #ccc;margin-right:20px;cursor:pointer}.DocHeader_pane{background-color:white;margin:0;border:none;padding:0 4px;cursor:pointer}.DocHeader_pane:hover{background-color:#eee}.DocHeader_pane:focus{outline:none}.icon-1pane{width:10px;height:15px;display:inline-block;border:2px solid #ccc;position:relative;top:1px}.icon-2pane{height:15px;display:inline-block;border:2px solid #ccc}.icon-2pane:after{width:7px;margin-left:7px;height:15px;display:inline-block;border-left:1px solid #ccc;content:" "}.icon-3pane{height:15px;display:inline-block;border:2px solid #ccc}.icon-3pane:before{margin-left:5px}.icon-3pane:before,.icon-3pane:after{width:5px;height:15px;display:inline-block;border-left:1px solid #ccc;content:" "}.TypeSwitcher{position:relative}.TypeSwitcher_icon{padding:5px 10px;cursor:pointer}.TypeSwitcher_dropdown{position:absolute;top:100%;right:0;z-index:100;padding:0;margin:0;list-style:none;background-color:white;box-shadow:0 1px 1px #aaa}.TypeSwitcher_item{cursor:pointer;padding:5px 10px}.Importer{position:relative}.Importer_title{font-size:16px;padding:5px 10px;margin:10px 0 0;border:1px solid #ccc;display:none}.Importer_source{display:block;width:100%;background-color:white;border:1px solid white;padding:10px 20px;text-align:center;cursor:pointer;color:#555;transition:color .2s ease,border-color .2s ease}.Importer_source-selected,.Importer_source:hover{border-color:#ccc;color:black}.Importer_list{list-style:none;margin:0 20px 10px;padding:0}.Importer_list li{display:inline-block}.NewFile{position:relative;padding:0 20px}.NewFile-closed{padding:10px}.NewFile_title{font-size:16px;padding:5px 10px;border:1px solid #ccc;width:300px}.NewFile_ReplTitle{font-weight:bold;padding:10px 10px 10px 0}.NewFile_submit{background-color:white;border:1px solid #ccc;padding:5px 10px;font-size:16px;margin-left:5px;cursor:pointer}.NewFile_head{margin:0;display:none}.NewFile_repls{display:inline-block}.DropDown{position:relative}.DropDown_title{cursor:pointer}.DropDown_list{background-color:white;box-shadow:0 4px 5px #aaa;position:absolute;top:100%;left:0;z-index:10000;margin:0;padding:0;list-style:none}.DropDown-right .DropDown_list{left:auto;right:0}.DropDown_item{padding:10px 15px;cursor:pointer}.DropDown_item-selected,.DropDown_item:hover{background-color:#e0e0e0}.Saver{margin-left:10px;font-family:sans-serif;font-size:13px}.Saver-none .DropDown_title{line-height:27px;padding:0 10px;border:1px solid #ccc;border-radius:5px}.Saver .DropDown_list{width:140px}.Saver_sync{background:transparent;border:none;padding:3px 5px;cursor:pointer;color:#555}.Saver_sync:hover{color:black}.Saver_message{padding:5px 10px}.Splitter{display:flex;align-items:stretch;flex:1;padding:0}.Splitter_div{min-width:10px;min-height:10px;background-color:#aaa;cursor:pointer;z-index:10;border:2px solid white}.Splitter-moving>.Splitter_div{background-color:green}.Splitter-horiz>.Splitter_div{cursor:ew-resize;border-width:4px 0}.Splitter-vert>.Splitter_div{cursor:ns-resize;border-width:0 4px}.Splitter_pane,.Splitter_only,.Splitter_first,.Splitter_second{display:flex;justify-content:center;background-color:white}.Splitter_second{flex:1}.Splitter-vert{flex-direction:column}.GistForm{text-align:center;font-size:20px;font-family:"Monda";font-weight:bold}.GistForm input{width:300px;padding:5px 10px;margin:0 0 0 10px;font-size:16px;color:#555}.GistForm input:focus{color:black}.GistForm button{font-size:17px;padding:5px 10px 5px;background:#3143ff;border:1px solid #aaa;border-left:none;color:white;transition:background-color .3s ease,color .3s ease;cursor:pointer}.GistForm button:hover{background-color:#ddd;color:black}.GistForm button[disabled]{background-color:white;color:#666}.GistForm button:not([disabled]):hover{background-color:#040096}.treed_body_rendered,.textarea-grow textarea,.textarea-grow .shadow{font-family:'Monda',sans-serif;min-height:34px;word-break:break-word}.TreeView{max-width:1000px;margin:0 auto}.TreeItem{font-family:'Monda',sans-serif}.TreeItem-root.TreeItem-type-ipython>.TreeItem_head .treed_body,.TreeItem-type-code-playground>.TreeItem_head .treed_body{margin-left:0;font-size:16px}