body {
    padding: 0;
    margin: 0;
}

.DocHeader {
    padding: 0;
}

.m_IPython.m_IPython-empty {
    margin: 0;
}

.TreeItem-active > .TreeItem_head > .TreeItem_body {
    outline: 2px solid #ccc;
}

.ITreedCodeEditor {
    font-size: 10px;
}

.m_IPython_time {
    font-size: 8px;
    top: 1px;
    right: -2px;
}

.TreeItem_body {
    font-size: 10px;
}

.treed_body_rendered,
.textarea-grow textarea,
.textarea-grow .shadow {
    min-height: 24px;
    font-size: 10px;
}

.TreeItem_head {
    padding-bottom: 2px;
}

body.large span.treed_body_rendered,
body.large .ITreedCodeEditor,
body.large .TreeItem_body,
body.large .treed_body_rendered,
body.large .textarea-grow textarea,
body.large .textarea-grow .shadow {
    font-size: 20px;
    line-height: 30px;
    min-height: 38px;
}

